<% content_for :meta_title, "Eco-Logical | Pledges, Dare to Change" %>
<% content_for :meta_description, "Dare to change you behavior and achieve your ecological ambitions." %>
<% content_for :meta_image, image_path("cover.png") %>

<h3 style="text-align:center;" class="dashboard-banner py-5 mb-5">Pledges</h3>



<div class="pledge-card-container">
  <% @pledges.each do |pledge| %>
    <div class="pledge-card-photo">
     <img src=<%= pledge.recommendation.icon %> alt="icon">
      <div class="pledge-card-info">
        <p class="pledge-color"><strong><%= "#{pledge.recommendation.title} " %></strong></p>
      <div class="pledge-card-carbons">
        <p class="counterUp" akhi=<%= pledge.recommendation.co2_grams/1000 %>>0</p>
        <p><%= "CO2 KGs"%></p>
      </div>
      </div>
      <% unless pledge.completed %>
        <div class="green-me-up-container">
          <button class="green-me-up"><%= link_to "Done!", complete_pledge_path(pledge), method: :patch %>
          </button>
        <!-- Trigger/Open The Modal -->
          <img src="https://res.cloudinary.com/dyjkajjgg/image/upload/v1638386182/icons/question-mark-on-a-circular-black-background_h0ekrj.png" alt="icon" id="myPledgeModalBtn" data-id="<%=pledge.recommendation.id%>">
        <!-- The Modal -->
          <div id="myPledgeModal-<%=pledge.recommendation.id%>" data-id="<%=pledge.recommendation.id%>" class="pledgeModalContainer">
        <!-- Modal content -->
            <div class="pledge-modal-content">
              <div class="pledge-modal-header">
                <span class="close">&times;</span>
                <h2 class="myPledgeModalTitle"><%= "Pledge: #{pledge.recommendation.title}" %></h2>
              </div>
              <div class="pledge-modal-body">
                <img src=<%= pledge.recommendation.photo %> alt="pic" class="myPledgeModalPic">
                <div class="pledge-card-carbons-modal">
                  <p class="counterUp" akhi=<%= pledge.recommendation.co2_grams/1000 %>>0</p>
                  <p><%= "CO2 KGs"%></p>
                </div>
                <p class="myModalDescription"><%= pledge.recommendation.description %></p>
              </div>
              </div>
            </div>
          </div>
<!--end of modal-->
        </div>
      <% end %>
    </div>
  <% end %> <!--end of each loop-->
</div> <!--end of div-->

<h3 style="text-align:center;" class="dashboard-banner py-5 mb-0 mt-5">Achievements</h3>
<div style="margin-top:-2px" class="typed-container mb-5">
  <p><%= "You offset" %></p>
  <div class="completed-trees">
    <div class="pledge-card-carbons-completed">
        <p class="counterUp" akhi=<%= @total_co2_achieved/1000 %>>0</p>
        <p><%= "CO2 KGs"%></p>
      </div>
      <span><i class="fas white-icon fa-tree"></i><%= " #{(@total_co2_achieved/500000).to_f.ceil(2)} trees" %></span>
  </div>
  <p><%= "and counting" %><span class="typed" id="pledge-co2"></span></p>
</div>

<div class="pledge-card-container-complete">
  <% @unique_pledge.each do |key,value| %>
    <div class="pledge-card-photo">
     <img src=<%= Recommendation.find(key).icon %> alt="icon">
      <div class="pledge-card-info">
        <p class="pledge-color"><strong><%= "#{Recommendation.find(key).title} " %></strong></p>
      <div class="pledge-card-carbons">
        <p class="counterUp" akhi=<%= Recommendation.find(key).co2_grams * value/1000 %>>0</p>
        <p><%= "CO2 KGs"%></p>
      </div>
      </div>
      <div>
        <h3><i class="fas fa-times"></i><%= " #{value}" %></h3>
      </div>
      <% unless Pledge.find_by(recommendation_id:key).completed %>
        <div class="green-me-up-container">
          <button class="green-me-up"><%= link_to "Done!", complete_pledge_path(pledge), method: :patch %>
          </button>
      <% end %>
        <!-- Trigger/Open The Modal -->
        <div class="green-me-up-container-pledge-complete">
          <img src="https://res.cloudinary.com/dyjkajjgg/image/upload/v1638386182/icons/question-mark-on-a-circular-black-background_h0ekrj.png" alt="icon" id="myPledgeModalBtn" data-id="00<%=Pledge.find_by(recommendation_id:key).id%>">
        <div>
        <!-- The Modal -->
          <div id="myPledgeModal-00<%=Pledge.find_by(recommendation_id:key).id%>" class="pledgeModalContainer">
        <!-- Modal content -->
            <div class="pledge-modal-content">
              <div class="pledge-modal-header">
                <span class="close">&times;</span>
                <h2 class="myPledgeModalTitle"><%= "Pledge: #{Recommendation.find(key).title}" %></h2>
              </div>
              <div class="pledge-modal-body">
                <img src=<%= Recommendation.find(key).photo %> alt="pic" class="myPledgeModalPic">
                <div class="pledge-card-carbons-modal">
                  <p class="counterUp" akhi=<%= Recommendation.find(key).co2_grams/1000 %>>0</p>
                  <p><%= "CO2 KGs"%></p>
                </div>
                <p class="myModalDescription"><%= Recommendation.find(key).description %></p>
              </div>
              <% unless Pledge.find_by(recommendation_id:key).completed %>
              <div class="pledge-modal-footer">
                <button class="green-me-up-modal"><%= link_to "Done!", complete_pledge_path(pledge), method: :patch %>
                </button>
              <% end %>
              </div>
            </div>
          </div>
<!--end of modal-->
        </div>

    </div>
  <% end %> <!--end of each loop-->
</div> <!--end of div-->
