<h1>Your pledges</h1>
<% @pledges.each do |pledge| %>
    <% pledge.completed %>
    <%= render "accordion_pledges", pledge: pledge %>
    <% unless pledge.completed %>
    <button><%= link_to "I did this, green me up!", complete_pledge_path(pledge), method: :patch %></button>
    <% end %>
<% end %>

<h2>Completed pledges</h2>
<%= "You have sucessfully offset #{@total_co2_achieved} and counting..."  %>


<% @completed_pledges.each do |pledge| %>
    <%= render "accordion_pledges", pledge: pledge %>
    <% unless pledge.completed %>
    <%= link_to "complete", complete_pledge_path(pledge), method: :patch %>
    <% end %>
<% end %>
