<h1 class="latest-completed-pledges">Pledged Actions</h1>


<div id="mySwipe" class="swipe">
    <div class="swipe-wrap">
    <!--first card-->
    <% @pledges.each do |pledge| %>
      <% if pledge.nil? %>
        <%= "No pledges at the moment..." %>
      <% else %>
        <div class="swipe-container">
        <h5><%= pledge.recommendation.category %></h5>
          <div style="background-image: url(<%= pledge.recommendation.photo %>);" class="swipe-image"></div>
          <div>
            <div class="swipe-btn-container">
              <p><strong><%= pledge.recommendation.title %></strong></p>
              <div class="swipe-btn-container">
                <p>Offset: </p>
                <p class="counterUp" akhi=<%= pledge.recommendation.co2_grams %>>0</p>
                <p> CO2 grams</p>
              </div>
            </div>
            <div class="swipe-btn-container">
              <% unless pledge.completed %>
                <div class="green-me-up-container"><button class="green-me-up"><%= link_to "I did this, green me up!", complete_pledge_path(pledge), method: :patch %></button></div>
              <% end %>
            </div>
              <%= render "accordion_pledges", pledge: pledge %>
            </div>
      <% end %>
      </div>
    <% end %>
  </div> <!--end of swipe-wrap-->
</div> <!--end of div-->

<h2 class="latest-completed-pledges">Completed Actions</h2>
<div class="typed-container"><%= "You offset #{@total_co2_achieved} and counting" %><span class="typed" id="pledge-co2"></span></div>

<div id="otherSwipe" class="swipe">
    <div class="swipe-wrap">
    <!--first card-->
    <% @completed_pledges.each do |pledge| %>
      <div class="swipe-container">
       <h5><%= pledge.recommendation.category %></h5>
        <div style="background-image: url(<%= pledge.recommendation.photo %>);" class="swipe-image"></div>
         <div>
           <div class="swipe-btn-container">
             <p><strong><%= pledge.recommendation.title %></strong></p>
             <div class="swipe-btn-container">
              <p>Offset: </p>
              <p class="counterUp" akhi=<%= pledge.recommendation.co2_grams %>>0</p>
              <p> CO2 grams</p>
             </div>
           </div>
            <div class="swipe-btn-container">
              <% unless pledge.completed %>
                <div class="green-me-up-container"><button class="green-me-up"><%= link_to "I did this, green me up!", complete_pledge_path(pledge), method: :patch %></button></div>
              <% end %>
            </div>
            <%= render "accordion_pledges", pledge: pledge %>
          </div>
        </div>
    <% end %>
    </div> <!--end of swipe-wrap-->
  </div> <!--end of div-->
