<h1>Your pledges</h1>


<i class="fas fa-backspace"></i><%= link_to " Back to recommendations", recommendations_path %>

<br><br>

<% @pledges.each do |pledge| %>
    <% pledge.completed %>
    <%= render "accordion_pledges", pledge: pledge %>
    <% unless pledge.completed %>
    <button><%= link_to "I did this, green me up!", complete_pledge_path(pledge), method: :patch %></button>
    <% end %>
<% end %>

<h2>Latest Completed pledges</h2>
<%= "You offset #{@total_co2_achieved} and counting" %><span class="typed" id="pledge-co2"></span>
<% @completed_pledges.each do |pledge| %>
    <%= render "accordion_pledges", pledge: pledge %>
    <% unless pledge.completed %>
    <%= link_to "complete", complete_pledge_path(pledge), method: :patch %>
    <% end %>
<% end %>
