<div class="accordion" id="accordionExample">
  <div class="card">
      <div class="card-header" id="headingOne">
        <p class="mb-0">
          <button class="btn btn-link btn-block text-left reco-show-btn-container" type="button" data-toggle="collapse" data-target="#collapse-<%= recommendation.id %>" aria-expanded="true" aria-controls="collapseOne">
              <%= "#{recommendation.title} = #{recommendation.co2_grams/1000} CO2 KGs" %>
              <p>Read more: <i class="fas fa-chevron-down"></i></p>
          </button>
        </p>
      </div>

      <div id="collapse-<%= recommendation.id %>" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
        <div class="card-body">
            <p><%= recommendation.description %></p>
            <br>
            <p><i class="fas fa-link"></i> <%= link_to "Link to article", recommendation.link_to_article %></p>
        </div>
      </div>
  </div>
</div>
