<h1>Offset recommendations</h1>

<%= link_to "Go to pleges  ", pledges_path %><i class="fab fa-google-play"></i>

<br><br>

<% @recommendations.each do |recommendation| %>
  <h3><%= recommendation.category %></h3>
  <br>
  <%= render "accordion_recommendations", recommendation: recommendation %>
  <%= simple_form_for([recommendation, Pledge.new]) do |f| %>
    <%= f.submit %>
  <% end %>
  <br>
<% end %>
