<h3>Offset recommendations</h3>

<%= link_to "Go to pleges  ", pledges_path %><i class="fab fa-google-play"></i>

<br><br>

  <div id="mySwipe" class="swipe">
    <div class="swipe-wrap">
    <!--first card-->
      <div class="swipe-container">
       <h5><%= @recommendations.first.category %></h5>
        <div style="background-image: url('https://images.unsplash.com/photo-1606224547099-b15c94ca5ef2?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=766&q=80');" class="swipe-image"></div>
         <div>
           <div class="swipe-btn-container">
             <p><strong><%= @recommendations.first.title %></strong></p>
             <div class="swipe-btn-container">
              <p>Offset: </p>
              <p class="counterUp" akhi=<%= @recommendations.first.co2_grams %>>0</p>
              <p> CO2 grams</p>
             </div>
           </div>
            <div class="swipe-btn-container">
              <%= link_to "More Info", recommendation_path(@recommendations.first.id), class:"button-know-more" %>
              <%= simple_form_for([@recommendations.first, Pledge.new]) do |f| %>
                <%= f.submit %>
              <% end %>
            </div>
          </div>
        </div>
    <!--second card-->
      <div class="swipe-container">
       <h5><%= @recommendations.second.category %></h5>
        <div style="background-image: url('https://images.unsplash.com/photo-1572803090936-72796aef96a2?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1171&q=80');" class="swipe-image"></div>
         <div>
           <div class="swipe-btn-container">
             <p><strong><%= @recommendations.second.title %></strong></p>
             <div class="swipe-btn-container">
              <p>Offset: </p>
              <p class="counterUp" akhi=<%= @recommendations.second.co2_grams %>>0</p>
              <p> CO2 grams</p>
             </div>
           </div>
            <div class="swipe-btn-container">
              <%= link_to "More Info", recommendation_path(@recommendations.second.id), class:"button-know-more" %>
              <%= simple_form_for([@recommendations.second, Pledge.new]) do |f| %>
                <%= f.submit %>
              <% end %>
            </div>
          </div>
        </div>
        <!--third card-->
      <div class="swipe-container">
       <h5><%= @recommendations.third.category %></h5>
        <div style="background-image: url('https://media.istockphoto.com/photos/young-girl-choosing-clothes-in-a-second-hand-market-in-summer-zero-picture-id1159428209?b=1&k=20&m=1159428209&s=170667a&w=0&h=urlbDUnC-QUwtkj2O6vgjNsVf9SnzTGdUVHDNdmJnBI=');" class="swipe-image"></div>
         <div>
           <div class="swipe-btn-container">
             <p><strong><%= @recommendations.third.title %></strong></p>
             <div class="swipe-btn-container">
              <p>Offset: </p>
              <p class="counterUp" akhi=<%= @recommendations.third.co2_grams %>>0</p>
              <p> CO2 grams</p>
             </div>
           </div>
            <div class="swipe-btn-container">
              <%= link_to "More Info", recommendation_path(@recommendations.third.id), class:"button-know-more" %>
              <%= simple_form_for([@recommendations.third, Pledge.new]) do |f| %>
                <%= f.submit %>
              <% end %>
            </div>
          </div>
        </div>
    </div> <!--end of swipe-wrap-->
  </div> <!--end of div-->
