<div>
  <div class="" id="headingOne">
    <h2 class="mb-0">
      <button type="button" class="text-card-dash btn btn-link btn-block text-left" data-toggle="modal" data-target="#Modal-<%= cat.split.first %>">
          <h2><strong><%= cat %></strong></h2>
      </button>
    </h2>
      <div class="d-flex dprop">
        <div class="greendash1money">
          <i class="fas fa-money-bill-wave"></i>
          <% money = current_user.total_expenses_per_category([cat, time]) %>
          <p><%= money.round() %> EUR</p>
        </div>
        <div class="greendash1" data-update-list-target="card<%= @counter %>"
             data-action="click->update-list#flip">
          <% final_calc = (current_user.total_emmissions_per_category(cat).to_f * current_user.total_expenses_per_category([cat, time]).to_f) / 1000 %>
          <i class="fas fa-burn"></i>
          <% if final_calc > 1000 %>
            <% final_calc /= 1000 %>
            <div class="d-flex mp1234" >
              <p><%= final_calc.round() %>  </p>
              <p class="card-info">Tco2</p>
            </div>
          <% else %>
          <div class="d-flex mp1234">
            <p class="whole"><%= final_calc.round() %></p>
            <p class="card-info"> CO2 Kg</p>
          </div>
          <% end %>
        </div>
      </div>
  </div>
</div>
