  <div data-controller="update-list">
   <div data-update-list-target="description">
    <div class="text-center dashboard-banner">
      <h3>Welcome <%= current_user.first_name %></h3>
      <p> <%= current_user.unique_account[0] %></p>
      <%= link_to fetch_expenses_path do %>
        <i class="fas fa-cloud-download-alt"></i>
      <% end %>
    </div>
    <div class="dashboard-h2">
      <div>
          <div class="info-container">
            <div class="d-flex info-block">
              <i class="fas fa-money-bill-wave icon1"></i>
              <p class="title text-green"><%= @total_expenses.ceil(2) %> EUR </p>
              <p class="title">Expenses </p>
            </div>
              <div class="d-flex info-block">
                <i class="fas fa-burn icon2"></i>
                <p class="title text-green"><%= ((@total_emmissions)/1000).ceil(2) %> CO2 Kg</p>
                <p class="title">Emmissions </p>
              </div>
              <div class="d-flex info-block">
                <i class="fas fa-leaf"></i>
                <p class="title text-green"><%= (current_user.pledge_impact)/1000 %> CO2 Kg</p>
                <p class="title">Offset </p>
              </div>
              <div class="d-flex info-block">
              <i class="fas fa-globe-europe"></i>
              <p class="title text-green"> <%= ((@total_emmissions - current_user.pledge_impact) / 1000).ceil(2) %> CO2 Kg</p>
              <p class="title">Net Emmissions</p>
              </div>
            </div>
          </div>

      <div>
        <div class=" d-flex hb32 months-dash ">
          <%= link_to "30 Days", dashboard_path(scope: 1), id: "month", class: "title-filter", "data-action": "click->update-list#filter" %>
          <%= link_to "3 Months", dashboard_path(scope: 3), id: "three", class: "title-filter", "data-action": "click->update-list#filter" %>
          <%= link_to "6 Months", dashboard_path(scope: 6), id: "six", class: "title-filter", "data-action": "click->update-list#filter"%>
        </div>
      </div>
      <div class="container" data-update-list-target="charts">
        <div class="chart" style="text-align: center">
          <div class="show1" id="chartOne">
            <h5 class="header-chart title">CO2 KGs</h5>
            <%= pie_chart @emmission_chart, donut: true, legend: "left", colors: ["#3cdc8c", "#93ecbf", "#e9fbf2", "#1b9759", "#0c4126", "#bef3d9"] %>
          </div>
          <div class="hide1" id="chartTwo">
            <h5 class="header-chart1 title"> Expenses €</h5>
            <%= pie_chart @expenses_chart, donut: true, legend: "right", colors: ["#3cdc8c", "#93ecbf", "#e9fbf2", "#1b9759", "#0c4126", "#bef3d9"] %>
          </div>
          <p id="btn" class=""><i class="green-me-up-btn-dash title">Change View</i></p>
        </div>
      </div>
    </div>
    <div class="container ">
      <br>
        <a href="/expenses/new" class="float">
          <i class="fa fa-plus my-float"></i>
        </a>
      <% @categories.each do |cat| %>
        <div class="dashboard-h3 ">
          <%= render "accordion", cat: cat, time: @time %>
        </div>
        <%= render "modals", cat: cat%>
        <% @counter += 1 %>
      <% end %>
      <p>-----------------------</p>
      <br>
    </div>
   </div>
</div>
