 <div data-update-list-target="description">
   <p>Total Expenses : <%= @total_expenses %> EUR </p>
   <p>Total Emmissions: <%= @total_emmissions.ceil(2) %> CO2 grams</p>
   <p>Pledges Completed: <%= current_user.pledge_impact %> CO2 grams Offset</p>
   <p>Net Emmissions: <%= @total_emmissions.ceil(2) - current_user.pledge_impact  %></p>
   <br>
   <p>-----------------------</p>
   <%= link_to "Create new transaction", new_expense_path %>
   <% @categories.each do |cat| %>
    <%= render "accordion", cat: cat, time: time %>
   <% end %>
   <p>-----------------------</p>
   <br>
 </div>
