<div class=" modal fade" id="Modal-<%= cat.split.first %>" tabindex="-1" role="dialog"
  aria-labelledby="exampleModalLongTitle" aria-hidden="true">
  <div class="  modal-dialog" role="document">
    <div class=" modal13 modal-content">
      <div class="modal-header">
        <strong>
          <h4 class="dashboardModalBreakdown title text-green" style="font-size:  1.2rem"><%= "Breakdown of #{cat}" %></h4>
        </strong>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <% @emmissions.where(sub_category: cat).each do |emmission| %>
        <div class="modal-container">
         <div class="d-flex info-block">
           <h5 class="title text-green"><%= emmission.expense.creditor_name %></h5>
         </div>
         <div class="d-flex info-block">
          <i class="fas fa-calendar-alt"></i>
          <p><%= emmission.expense.date %></p>
         </div>
         <div class="d-flex info-block">
          <i class="fas fa-money-bill-wave"></i>
          <p><%= emmission.expense.amount %> EUR</p>
         </div>
         <div class="d-flex info-block">
          <% calc_result =  (emmission.co2_grams.to_f * emmission.expense.amount.to_f) / 1000 %>
          <i class="fas fa-fire"></i>
          <p><%= calc_result.ceil(2) %> Kg CO2</p>
         </div>
          <p class="modal-bottom-line"></p>
        </div>

        <% end %>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn-dash" style="width: 100%;" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
