<h1>This is the Dashboard Show...</h1>

<h1>Welcome <%= current_user.first_name %> <%= current_user.last_name %>.</h1>

<br>

<div>
  <%= current_user.unique_account %>
</div>

<br>

<p>Total Expenses : <%= current_user.user_total_expenses %> EUR </p>
<% total = (current_user.user_total_emmissions.to_f * current_user.user_total_expenses.to_f) / 1000 %>
<p>Total Emmissions: <%= total.ceil(2) %> CO2 grams</p>


<br>

<p>-----------------------</p>

<!-- Taking each unique category -->
<% current_user.unique_category.each do |cat| %>
  <h3><strong><%= cat %></strong></h3>
<!-- Taking total expenses and percentages on total of the expenses -->
  <p><%= current_user.total_expenses_per_category(cat) %> EUR</p>
    <% percentage = current_user.total_expenses_per_category(cat) / current_user.user_total_expenses * 100 %> <!-- Need to find how to round up-->
    <p><%= percentage.to_i %>%</p>
    <%= bar_chart percentage.to_i %>
<!-- Taking total emmissions and percentages on total of the expenses -->
  <% final_calc = current_user.total_emmissions_per_category(cat).to_f * current_user.total_expenses_per_category(cat).to_f %>
   <p><%= final_calc.ceil(2) %> CO2 grams</p>
    <% percentage = current_user.total_emmissions_per_category(cat) / current_user.user_total_emmissions * 100 %>
    <p><%= percentage.to_i %>%</p>
<!-- Per category then having the breakdown -->

<p>====================================</p>
  <h4><%= "Breakdown of #{cat}" %></h4>
  <br>
  <% @emmissions.where(main_category: cat).each do |emmission| %>
    <h5><em><%= emmission.sub_category %></em></h5>
    <p><%= emmission.expense.amount %> EUR</p>
    <% calc_result =  emmission.co2_grams.to_f * emmission.expense.amount.to_f %>
    <p><%= calc_result.ceil(2) %></p>
    <% end %>
<p>====================================</p>
<% end %>

<p>-----------------------</p>

<br>
