<div class="container d-flex justify-content-center">
  <div class="container text-center">
    <h1>Welcome <%= current_user.first_name %> <%= current_user.last_name %>.</h1><br>
    <p>Account Number: <%= current_user.unique_account[0] %></p>
    <%= link_to "Update Transactions", fetch_expenses_path%>
  </div>
</div><br>

<div data-controller="update-list">
  <div class="d-flex justify-content-center align-item-center">
    <div class="d-inline-flex justify-content-between w-50">
       <%= form_with url: dashboard_path, method: :get, html: { class: 'btn btn-primary', data: { update_list_target: 'form' } } do |f| %>
       <%= hidden_field_tag :month_query, "true" %>
       <%= f.button "Show Last 30 Days",
                     class: "btn btn-primary",
                     data: {
                      update_list_target: 'button',
                      action: "click->update-list#update"
                     } %>
       <% end %>
       <%= form_with url: dashboard_path, method: :get, html: { class: 'btn btn-primary', data: { update_list_target: 'form' } } do |f| %>
       <%= hidden_field_tag :half_year, "true" %>
       <%= f.button "Show last 6 months",
                     class: "btn btn-primary",
                     data: {
                      update_list_target: 'button',
                      action: "click->update-list#update"
                     } %>
       <% end %>
       <%= form_with url: dashboard_path, method: :get, html: { class: 'btn btn-primary', data: { update_list_target: 'form' } } do |f| %>
       <%= hidden_field_tag :three_months, "true" %>
       <%= f.button "Show last 3 months",
                     class: "btn btn-primary",
                     data: {
                      update_list_target: 'button',
                      action: "click->update-list#update"
                     } %>
       <% end %>
    </div>
  </div>

  <div class="container">
    <div class="chart">
      <%= pie_chart @emmission_chart, donut: true, legend: "left" %>
      <%#= pie_chart Expense.chart_legend, donut: true, legend: "right" %>
    </div>
    <br>
       <%= render 'description', time: @time %>
  </div>
</div>
