<div class="container ">
  <div class=" text-center dashboard-h1 ">
    <h3>Welcome <%= current_user.first_name %> <%= current_user.last_name %>.</h3><br>
    <div class="d-flex">
    <div class="dash-card-1">
    <p> <%= current_user.unique_account[0] %></p>
    </div>
    <div><%= link_to "Update Transactions", fetch_expenses_path, class:"btn btn-dash"%></div>
    </div>
  </div>
</div><br>
<div class="dashboard-h2">
  <div data-update-list-target="description">
    <h3 style="text-align:center">Your green account  </h3>
   <p>Total Expenses : <%= @total_expenses %> EUR </p>
   <p>Total Emmissions: <%= @total_emmissions.ceil(2) %> CO2 grams</p>
   <p>Pledges Completed: <%= current_user.pledge_impact %> CO2 grams Offset</p>
   <p>Net Emmissions: <%= @total_emmissions.ceil(2) - current_user.pledge_impact  %></p>
  </div>

  <div data-controller="update-list ">
    <div class=" d-flex hb32">
       <%= form_with url: dashboard_path, method: :get,
           html: { class: 'btn btn-dash', data: { update_list_target: 'form' } } do |f| %>
       <%= hidden_field_tag :scope, 1 %>
       <%= f.button " 30 Days",
                     class: "btn btn-dash",
                     data: {
                      update_list_target: 'button',
                      action: "click->update-list#update"
                     } %>
       <% end %>
       <%= form_with url: dashboard_path, method: :get,
           html: { class: 'btn btn-dash', data: { update_list_target: 'form' } } do |f| %>
       <%= hidden_field_tag :scope, 6 %>
       <%= f.button "6 months",
                     class: "btn btn-dash",
                     data: {
                      update_list_target: 'button',
                      action: "click->update-list#update"
                     } %>
       <% end %>
       <%= form_with url: dashboard_path, method: :get,
           html: { class: 'btn btn-dash', data: { update_list_target: 'form' } } do |f| %>
       <%= hidden_field_tag :scope, 3 %>
       <%= f.button "3 months",
                     class: "btn btn-dash",
                     data: {
                      update_list_target: 'button',
                      action: "click->update-list#update"
                     } %>
       <% end %>
      </div>
  </div>
  <div class="container  ">
    <div class="chart">
      <div class="show" id="chartOne">
        <%= pie_chart @emmission_chart, donut: true, legend: "left" %>
      </div>
      <div class="hide" id="chartTwo">
        <%= pie_chart @expenses_chart, donut: true, legend: "right" %>
      </div>

    <%#= link_to "Switch", "#", class:"btn btn-dash", id="SwitchChart"%>
    <p id="btn" class="btn btn-dash"><i>Switch chart</i></p>
    </div>
  </div>
</div>
  <div class="container ">

   <p>-----------------------</p>
   <%= link_to "Create new transaction", new_expense_path, class:"btn btn-dash"%>
   <% @categories.each do |cat| %>
    <div class="dashboard-h3">
    <%= render "accordion", cat: cat, time: @time %>
    </div>
   <% end %>
   <p>-----------------------</p>
   <br>
 </div>
