<h1>This is the Dashboard Show...</h1>

<h1>Welcome <%= current_user.first_name %> <%= current_user.last_name %>.</h1>

<br>

<div>
  <% @accounts.each do |account| %>
    <%= account.account_number %>
  <% end %>
</div>

<br>

<div>
  <% @calculations.each do |calculation| %>
    <tr>
      <p>Expense: <td><%= calculation.total_expenses %> <%#= calculation.currency %></td></p>
       <p>Emmissions: <td><%= calculation.total_emmissions %></td></p>
    </tr>
  <% end %>
</div>
