<%= link_to "Calculate", fetch_expenses_path%>
<ul>
  <% @expenses.each do |expense| %>
    <li>
      <%= expense.external_id %>
      <%= expense.amount %>
      <%= expense.creditor_name %>
      <%= expense.creditor_id %>
    </li>
  <% end %>
</ul>

<%= pie_chart Expense.group(:creditor_id).count, donut: true, legend: "left" %>
